* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #1a1a1a;
    color: #fff;
    line-height: 1.6;
}

/* Header Styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #000;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    display: flex;
    align-items: center;
}

.tesla-logo {
    width: 40px;
    height: auto;
    margin-right: 10px;
}

.logo span {
    font-size: 18px;
    font-weight: bold;
}

.navbar .nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.sidebar {
    position: fixed;
    margin-top: 20px;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: transparent;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
    list-style: none;
    text-align: center;
}

.sidebar a {
    width: 100%;
    text-decoration: none;
    display: block;
}

main {
    padding: 20px;
}

.privacy-header {
    text-align: center;
    margin-bottom: 40px;
}

.privacy-header h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.privacy-section {
    margin-bottom: 30px;
}

.privacy-section h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #fff;
}

.privacy-section p {
    font-size: 16px;
    color: #ccc;
}

.privacy-section ul {
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom: 10px;
}

.privacy-section ul li {
    font-size: 16px;
    color: #ccc;
}

footer {
    margin-top: 40px;
    padding: 20px;
    background-color: #2a2a2a;
    text-align: center;
}

.footer-links {
    margin-bottom: 20px;
}

.footer-links h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li a {
    color: #ff0000;
    text-decoration: none;
    font-size: 14px;
}

.footer-links ul li {
    margin-bottom: 5px;
}

.menu-button{
    display: none;
}

/* Responsive Design */
@media(max-width: 400px) {
    .sidebar{
        width: 100%;
    }
}

@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        left: 0;
        right: 0;
        align-items: center;
    }

    .hideOnMobile{
        display: none;
    }

    .menu-button{
        display: block;
    }

    .privacy-header h1 {
        font-size: 28px;
    }

    .privacy-section h2 {
        font-size: 20px;
    }

    .privacy-section p, .privacy-section ul li {
        font-size: 14px;
    }
}